<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" ;
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head>
  <link href="../../webjars/bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Insert title here</title>
  <script type="text/javascript" src="../../webjars/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="../../webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">

</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Car Rental Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/owner/showCars">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/api/owner/transactions">Transactions</a>
        </li>
      </ul>

      <div style="height: 40px" sec:authorize="isAuthenticated()">
        <div class="nav-item dropdown ml-auto">
          <a style="font-size: large" href="#" class="nav-link " data-toggle="dropdown"><div class="dropdown-toggle" sec:authentication="name"></div></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a style="padding-left:55px" sec:authorize="hasAuthority('OWNER')" href="/api/owner/showProfile" class="dropdown-item">Profile</a>
            <div class="dropdown-divider"></div>
            <a style="padding-left:55px" href="/logout"class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="modal" id="successModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thank you for your review!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Review made Successfully!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!--         error modal          -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: red" class="modal-title">Error!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 id="s1"></h3>
      </div>
      <div class="modal-footer">
        <span id="s2" style="padding-right: 270px; font-size: large;"></span>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!--         modal for review-->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <form method="post" id="reviewForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reviewModalLabel">Write a review about the Renter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="rating" class="col-form-label">Rating:</label>
              <select id="rating" name="ratingForOwner">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="comments" class="col-form-label">Comments:</label>
              <textarea class="form-control" id="comments" name="messageForOwner"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--see review modal-->
<div class="modal fade" id="seeReviewModal" tabindex="-1" role="dialog" aria-labelledby="seeReviewModalLabel" aria-hidden="true">
  <form>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="seeReviewModalLabel">The review about the car</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="ratingReview" class="col-form-label">Rating:</label>
              <input  style="border: none; display: inline; width: 8%; background-color: white" readonly type="text" class="form-control" id="ratingReview" name="rating">
              <span style="display: inline">stars</span>
            </div>
            <div class="form-group">
              <label for="messageReview" class="col-form-label">Comments:</label>
              <textarea style="border: none; background-color: white" readonly class="form-control" id="messageReview" name="message"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

<br><br><br>
<h2 th:if="${transactions.isEmpty()} " align="center">No current transactions</h2>
<br><br>
<div th:if="${!transactions.isEmpty()}" class="container">
  <h2 style="padding-bottom: 20px" align="center">Your current transactions</h2>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Car Model</th>
          <th scope="col">Car Company</th>
          <th scope="col">Renter</th>
          <th scope="col">Starting Date</th>
          <th scope="col">Ending Date</th>
          <th scope="col">Income</th>
          <th scope="col">Status</th>
          <th scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
          <td th:text="${transaction.car.model}"></td>
          <td th:text="${transaction.car.company}"></td>
          <td th:text="${transaction.renter.username}"></td>
          <td th:text="${transaction.startDate.toString()}"></td>
          <td th:text="${transaction.endDate.toString()}"></td>
          <td><span th:text="${transaction.cost}"></span><span>€</span></td>
          <td id="status" th:text="${transaction.status}"></td>
          <td style="text-indent: 10px; width: 220px" class="row">
          <form style="display:inline;" th:method="post" th:action="@{'/api/owner/acceptRentalRequest/' + ${transaction.id}}">
            <button type="submit" class="btn btn-primary">Accept</button>
          </form>
          <form style="display:inline;" th:method="post" th:action="@{'/api/owner/completeTransaction/' + ${transaction.id}}">
            <button type="submit" class="btn btn-success">Complete</button>
          </form>
          </td>
          <div th:if="${transaction.status == T(com.example.CarRental.model.Status).COMPLETED}">
            <td th:if="${transaction.review == null}">
              <a th:href="@{'/api/owner/createReview/' + ${transaction.id}}" id="reviewButton" class="btn-primary"><p style="color: blue">Write Review</p></a>
            </td>
            <td th:if="${transaction.review !=null and (transaction.review.ratingForOwner == null or transaction.review.messageForOwner == null)}">
              <a th:href="@{'/api/owner/createReview/' + ${transaction.id}}" id="reviewButton2" class="btn-secondary"><p style="color: blue">Write Review</p></a>
            </td>
          </div>
          <td th:if="${transaction.review !=null and (transaction.review.ratingForRenter != null or transaction.review.messageForRenter != null)}">
            <a th:href="@{/api/owner/seeReview/(trId=${transaction.id})}" id="seeReviewButton" class="btn-secondary"><p style="color: blue">See Review</p></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  var url = window.location.href;
  if(url.indexOf('?already_accepted') != -1) {
    $('#s1').text("Transaction is already accepted")
    $('#errorModal').modal('show');
  }
  else if (url.indexOf('?is_completed') != -1){
    $('#s1').text("This transaction is completed")
    $('#errorModal').modal('show');
  }
  else if (url.indexOf('?accept_first') != -1){
    $('#s1').text("Transaction is not accepted yet")
    $('#s2').text("Accept the transaction")
    $('#errorModal').modal('show');
  }
  else if (url.indexOf('?already_completed') != -1){
    $('#s1').text("Transactions is already completed")
    $('#errorModal').modal('show');
  }
  else if(url.indexOf('?accepted') != -1){
    $('#status').css("color", "blue");
  }
  else if(url.indexOf('?completed') != -1){
    $('#status').css("color", "green");
  }
  else if(url.indexOf('?review_sent') != -1){
    $('#successModal').modal('show');
  }

  $('document').ready(function () {
    $('.container #reviewButton').on('click', function (event) {
      event.preventDefault();
      var href = $(this).attr('href');
      $('#reviewModal #reviewForm').attr('action', href);
      $('#reviewModal').modal();
    });
    $('.container #reviewButton2').on('click', function (event) {
      event.preventDefault();
      var href = $(this).attr('href');
      $('#reviewModal #reviewForm').attr('action', href);
      $('#reviewModal').modal();
    });
    $('.container #seeReviewButton').on('click', function (event) {
      event.preventDefault();
      $.get($(this).attr('href'), function (review, status){
        $('#ratingReview').val(review.rating);
        $('#messageReview').val(review.message);
      });
      $('#seeReviewModal').modal();
    });
  });
</script>
</body>
</html>